@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-slide > div {
  display: grid;
  place-items: center;
  width: 80%;
  margin-top: 50px;
  margin: auto;
  height: 500px;
  padding: 0px;
}